<! DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title> 笔记本 之 删除 </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./vue_material-master/demo-记事本/css/index.css" />
</head>
                <!--  总结
                     隐藏---没有数据时，隐藏数据（v-show/ v-if 数组非空）
                    
                     笔记本项目总结

                     1.列表结构可以用过 v-for 指令结合数据生成
                     2.v-on 结合事件修饰符可以对事件进行限制，比如 .enter
                     3.v-on 在绑定事件时可以传递自定义参数
                     4.通过v-model 可以快速的设置和获取表单元素的值
                     5.基于数据的开发方式
                   
                    
                -->

<body>
    <!-- 主体区域 -->
    <section id="todoapp">
        <!-- 输入框 -->
        <header class="header">
            <h1> 笔记本</h1>
            <input v-model="inputValue" @keyup.enter="add" autofocus="autofocus" autocomplete="off" placeholder="请输入任务" class="new-todo">

        </header>
        <!-- 列表区域 -->
        <section class="main">
            <ul class="todo-list">
                <li class="todo"  v-for="(item,index) in list">
                    <div class="view">
                        <span class="index">{{index + 1}}</span>
                        <label>{{ item }}</label>
                        <button class="destroy" @click="remove(index)"></button>
                    </div>

                </li>

            </ul>

        </section>
        <!-- 统计和清空 -->
        <footer class="footer" v-show="list.length != 0">
            <span class="todo-count" v-if="list.length != 0"> <strong> {{list.length}}</strong>items left</span>
            <button class="clear-completed" @click="clear" v-show="list.length != 0"> Clear </button>
        </footer>

    </section>
    <!-- 底部 -->
    <footer class="info">

    </footer>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#todoapp",
            data:{
                list:["写代码","吃饭饭","睡觉觉"],
                inputValue:"好好上学，天天向上"
            },
            methods:{
                add:function(){
                    this.list.push(this.inputValue);
                },
                remove:function(index){
                    console.log("删除");
                    console.log(index);
                    this.list.splice(index,1);
                },
                clear:function(){
                    this.list = [];  //清空数据就是清空 数组
                }
            }
            
        })
    </script>
</body>
</html>   